<div class="modal fade" id="crearProyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="m-2" [formGroup]="form" class="m-2" (ngSubmit)="noEnviar($event)">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text"formControlName="nombre"
            [ngClass]="{'is-invalid': Nombre?.errors, 'is-valid': !Nombre?.errors}"
            class="form-control" id="nombre" aria-describedby="emailHelp">
            <div *ngIf="Nombre?.errors">
              <p *ngIf="Nombre?.hasError('required')" class="alert alert-danger">
                Es requerido
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="info" class="form-label">Info:</label>
            <input type="text"formControlName="info"
            [ngClass]="{'is-invalid': Info?.errors, 'is-valid': !Info?.errors}"
            class="form-control" id="info" aria-describedby="emailHelp">
            <div *ngIf="Info?.errors">
              <p *ngIf="Info?.hasError('required')" class="alert alert-danger">
                Es requerido
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
